.container{
  height: 100vh;
  width: 100vw;
  background-color: #dbdad9;
  @include center-flex();
  font-family: 'Roboto','Arial', sans-serif;

}
.section{

  width: 505px;
  background-color: #f2f2f2;
  padding: 20px 10px 10px 10px;
  box-sizing: border-box;
  &__title{
    color : #A3A3A3;
    font-size: 18px;
    margin-bottom: 15px;
  }
}

.chart{
  background: white;
  border: 1px solid #dbdde0;
  border-bottom: 2px solid #a2a2a2;
  &__up{
    padding: 25px 20px 25px 25px;
  }
  &__title{
    color : #8e8f91;
    font-size: 14px;
    padding-bottom: 20px;
    border-bottom: #a2a2a2 1px solid;

  }
  &__row{
    @include flex (row,flex-start,center);
    height: 35px;
    border-bottom: #a2a2a2 1px solid;
    padding: 2px 0;

  }
  &__col{
    height: 33px;
    @include center-flex();
    width: 50px;
    font-size: 12px;
    margin-right: 2px;
    padding: 1px;
    box-sizing: border-box;
    &--big{
      font-size: 14px;
      width: 120px;
    }
    &.blue{
      background: #3465DB;
    }
  }
  &__down{
    border-top: #a2a2a2 1px solid;
    padding: 10px 20px 10px 25px;
    @include flex (row,space-between,center);
  }
  &__select{
    background-color: white;
    color: #a2a2a2;
    border : 0px;
    font-size: 14px;
  }
  &__link{
    color:#2986ef;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
  }
}
.row-first{
  color: #8e8f91;
}

.icon-right{
  margin-left: 12px;
}
@for $i from 10 through 40 {
    .blue-#{$i} {
        background-color: lighten(#3465DB, $i*1%);
    }
}
