html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #dbdad9;
  font-family: 'Open Sans', sans-serif;
}

.footer {
  width: 1221px;
  height: 57px;
  background-color: #faf3e8;
  padding: 0 30px 0 40px;
  box-sizing: border-box;
}
.footer__inner {
  display: flex;
  width: 100%;
  height: 57px;
  flex-direction: row;
  justify-content: flex-end;
}
.footer__subtext {
  margin-right: auto;
  color: #7b7874;
  line-height: 62px;
  font-size: 14px;
}

.icon__copy {
  font-size: 13px;
  margin-right: 3px;
}

.menu, .social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  width: 140px;
  margin-right: 40px;
}
.menu__link {
  color: #7b7874;
  font-size: 12px;
  text-decoration: none;
  transition: color 0.7s ease;
}
.menu__link:hover {
  color: #51504f;
}

.social {
  width: 105px;
}
.social__link {
  color: #7b7874;
  font-size: 0px;
  text-decoration: none;
  transition: color 0.7s ease;
}
.social__link:hover {
  color: #51504f;
}
.social__icon {
  font-size: 12px;
}
