.container{
  height: 100vh;
  width: 100vw;
  @include center-flex();
  background-color: #dbdad9;
  font-family: 'Open Sans', 'Arial', sans-serif;
}

.section{
  width: 1230px;
  height: 460px;
  background-color: white;
  @include flex(row,flex-start,center)
}
