html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: #dbdad9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto','Arial', sans-serif;
}

.section {
  height: 455px;
  width: 505px;
  box-sizing: border-box;
  padding: 5px 2px 3px 10px;
  background: #f2f2f2;
}
.section__title {
  font-size: 18px;
  color: #828282;
  font-weight: 300;
  margin-bottom: 15px;
  margin-top: 10px;
}

.array {
  width: 490px;
  height: 360px;
  padding: 20px 20px 10px 25px;
  background: white;
  box-sizing: border-box;
}
.array__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 7px 0 7px 5px;
  border-bottom: solid #ebebeb 1px;
}
.array__row:last-child {
  border: 0;
}
.array__row--title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid #ebebeb 1px;
  color: #828282;
  font-size: 14px;
  padding-bottom: 15px;
}
.array__subtitle {
  width: 290px;
}
.array__subtitle--middle {
  width: 75px;
  text-align: center;
}
.array__subtitle--right {
  width: 70px;
  text-align: right;
}
.array__info {
  font-size: 13px;
  width: 290px;
}
.array__number {
  font-size: 13px;
  width: 75px;
  text-align: center;
}
.array__count {
  width: 65px;
  font-size: 14px;
  text-align: right;
}
.array__bottom {
  border-top: solid #ebebeb 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  box-sizing: border-box;
  background: white;
  padding: 0 25px 0 20px;
}
.array__cta {
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: right;
  color: #85B4E9;
  box-sizing: border-box;
  display: block;
}
.array__dropdown {
  font-size: 13px;
  color: #757575;
  position: relative;
}
.array__dropdown::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-radius: 1px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #757575;
  position: absolute;
  top: 5px;
  right: -15px;
}

.icon {
  margin-left: 15px;
}
