html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.container {
  height: 1200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #dbdad9;
  font-family: 'Open Sans', sans-serif;
}

.section--form {
  width: 635px;
  background: white;
  padding: 20px 15px 10px 25px;
  box-sizing: border-box;
}

.form__title {
  font-weight: 600;
  font-size: 20px;
  width: 100%;
  padding-bottom: 15px;
}
.form__profil, .form__medical, .form__emergency {
  border-top: 1px solid #ececec;
}
.form__subtitle {
  font-size: 13px;
  font-weight: 700;
  padding: 5px 0;
}
.form__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
}
.form__container {
  width: 50%;
  padding-left: 10px;
}
.form__container.left {
  padding-right: 10px;
  padding-left: 0px;
}
.form__container--large {
  width: 100%;
}
.form__inputs {
  display: inline-block;
}
.form__inputs--large {
  width: 100%;
}
.form__firstname {
  width: 60px;
}
.form__lastname {
  width: 110px;
}
.form__phone {
  width: 30px;
}
.form__phone--large {
  width: 40px;
}
.form__days, .form__months {
  width: 30px;
}
.form__years {
  width: 40px;
}

label {
  font-size: 11px;
  margin-top: 5px;
  display: block;
}

textarea {
  width: 100%;
  height: 120px;
}

input {
  width: 100%;
}

select {
  width: 100%;
}
