html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.section {
  height: 100vh;
  width: 100vw;
  background-color: #dbdad9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Open sans','Arial', sans-serif;
  color: white;
}

.chart {
  background-color: white;
  width: 330px;
  height: 515px;
  padding: 10px 5px;
  box-sizing: border-box;
}
.chart__container {
  background: #4285F4;
  border-radius: 3px;
  min-height: 495px;
  box-sizing: border-box;
}
.chart__inner {
  padding: 20px 25px 25px 25px;
}
.chart__user {
  margin-bottom: 35px;
}
.chart__title {
  font-size: 14px;
  margin-bottom: 20px;
}
.chart__number {
  font-size: 45px;
  font-weight: 300;
}
.chart__graph {
  margin-bottom: 30px;
}
.chart__subtitle {
  font-size: 11px;
  width: 100%;
  border-bottom: solid #649BF6 1px;
  padding-bottom: 5px;
}
.chart__report {
  padding-top: 10px;
  border-top: solid #649BF6 1px;
}
.chart__cta {
  color: white;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: right;
  box-sizing: border-box;
  width: 100%;
  padding-right: 25px;
  display: block;
}

.bars__container {
  min-height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.bar {
  width: 8px;
  height: 35px;
  background: #D9E6FD;
}

.array__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
  border-bottom: solid #649BF6 1px;
}
.array__row:last-child {
  border: 0;
}
.array__row--title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.array__subtitle {
  font-size: 11px;
  width: 100%;
  border-bottom: solid #649BF6 1px;
  padding-bottom: 5px;
}
.array__subtitle.right {
  width: inherit;
}
.array__info {
  font-size: 13px;
}
.array__number {
  font-size: 13px;
}

.bar-20 {
  height: 20px;
}

.bar-21 {
  height: 21px;
}

.bar-22 {
  height: 22px;
}

.bar-23 {
  height: 23px;
}

.bar-24 {
  height: 24px;
}

.bar-25 {
  height: 25px;
}

.bar-26 {
  height: 26px;
}

.bar-27 {
  height: 27px;
}

.bar-28 {
  height: 28px;
}

.bar-29 {
  height: 29px;
}

.bar-30 {
  height: 30px;
}

.bar-31 {
  height: 31px;
}

.bar-32 {
  height: 32px;
}

.bar-33 {
  height: 33px;
}

.bar-34 {
  height: 34px;
}

.bar-35 {
  height: 35px;
}

.bar-36 {
  height: 36px;
}

.bar-37 {
  height: 37px;
}

.bar-38 {
  height: 38px;
}

.bar-39 {
  height: 39px;
}

.bar-40 {
  height: 40px;
}

.bar-41 {
  height: 41px;
}

.bar-42 {
  height: 42px;
}

.bar-43 {
  height: 43px;
}

.bar-44 {
  height: 44px;
}

.bar-45 {
  height: 45px;
}

.bar-46 {
  height: 46px;
}

.bar-47 {
  height: 47px;
}

.bar-48 {
  height: 48px;
}

.bar-49 {
  height: 49px;
}

.bar-50 {
  height: 50px;
}

.bar-51 {
  height: 51px;
}

.bar-52 {
  height: 52px;
}

.bar-53 {
  height: 53px;
}

.bar-54 {
  height: 54px;
}

.bar-55 {
  height: 55px;
}

.bar-56 {
  height: 56px;
}

.bar-57 {
  height: 57px;
}

.bar-58 {
  height: 58px;
}

.bar-59 {
  height: 59px;
}

.bar-60 {
  height: 60px;
}

.bar-61 {
  height: 61px;
}

.bar-62 {
  height: 62px;
}

.bar-63 {
  height: 63px;
}

.bar-64 {
  height: 64px;
}

.bar-65 {
  height: 65px;
}

.bar-66 {
  height: 66px;
}

.bar-67 {
  height: 67px;
}

.bar-68 {
  height: 68px;
}

.bar-69 {
  height: 69px;
}

.bar-70 {
  height: 70px;
}

.bar-71 {
  height: 71px;
}

.bar-72 {
  height: 72px;
}

.bar-73 {
  height: 73px;
}

.bar-74 {
  height: 74px;
}

.bar-75 {
  height: 75px;
}

.bar-76 {
  height: 76px;
}

.bar-77 {
  height: 77px;
}

.bar-78 {
  height: 78px;
}

.bar-79 {
  height: 79px;
}

.bar-80 {
  height: 80px;
}

.bar-81 {
  height: 81px;
}

.bar-82 {
  height: 82px;
}

.bar-83 {
  height: 83px;
}

.bar-84 {
  height: 84px;
}

.bar-85 {
  height: 85px;
}

.bar-86 {
  height: 86px;
}

.bar-87 {
  height: 87px;
}

.bar-88 {
  height: 88px;
}

.bar-89 {
  height: 89px;
}

.bar-90 {
  height: 90px;
}

.bar-91 {
  height: 91px;
}

.bar-92 {
  height: 92px;
}

.bar-93 {
  height: 93px;
}

.bar-94 {
  height: 94px;
}

.bar-95 {
  height: 95px;
}

.bar-96 {
  height: 96px;
}

.bar-97 {
  height: 97px;
}

.bar-98 {
  height: 98px;
}

.bar-99 {
  height: 99px;
}

.bar-100 {
  height: 100px;
}
