html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #dbdad9;
  font-family: 'Open Sans', 'Arial', sans-serif;
}

.section {
  width: 1230px;
  height: 460px;
  box-sizing: border-box;
  background-color: white;
  padding: 2px;
}

.ecommerce {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.item {
  border: 1px solid #D8D8D8;
  box-sizing: border-box;
  width: 25%;
  min-height: 456px;
}
.item__top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.item__highlight {
  background-color: #DD1E35;
  padding: 5px 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  font-weight: 800;
}
.item__reduction {
  background-color: white;
  padding: 5px 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: #DD1E35;
  font-weight: 700;
}
.item__img {
  height: 150px;
  width: 170px;
  display: block;
  margin: auto;
}
.item__descriptif {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 30px;
  margin-bottom: 40px;
}
.item__name {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 30px;
}
.item__description {
  font-size: 14px;
  color: #A1A1A1;
  font-weight: 600;
}
.item__price {
  padding: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
.item__new {
  font-size: 22px;
  font-weight: 700;
  color: #DD1E35;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.item__new--decimal {
  font-size: 15px;
  padding-left: 3px;
}
.item__old {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: line-through;
}
.item__old--decimal {
  font-size: 9px;
  padding-left: 3px;
}
.item__bottom {
  padding: 5px 30px 0 30px;
}
.item__promo {
  font-size: 10px;
  text-decoration: none;
  color: #A1A1A1;
}
.item__number {
  font-size: 10px;
  font-weight: 700;
  color: #DD1E35;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.item__number--decimal {
  font-size: 6px;
  display: inline;
  padding-left: 3px;
}
